
*.inc

*.o

*.d

main.dSYM/Contents/Info.plist

main.dSYM/Contents/Resources/DWARF/main

main

dist/Debug/GNU-MacOSX/microroutetest

nbproject/configurations.xml

nbproject/Makefile-Debug.mk

nbproject/Makefile-impl.mk
